.second-nav {
    width: 195px;
    background-color: #edf0f2;
    .ant-menu {
        background-color: #f7f8fa;
        .ant-menu-item {
            height: 40px;
            line-height: 40px;
        }
    }
}